<div class="container py-3">
  <div *ngIf="!brands" class="h-2.5 bg-gray-200 rounded-full w-48 mb-4"></div>
  <h2 class="font-roboto text-custom-black" *ngIf="brands">Nos occasions</h2>
  <div class="grid grid-cols-3 grid-rows-3 gap-2 sm:grid-cols-5 sm:grid-rows-2 mt-3">
    <ng-container *ngIf="screenMode !=1">
        <ng-container *ngIf="!brands">
          <div class="tw-btn-class bg-gray-200 h-8 space-y-8 animate-pulse p-2.5" 
          *ngFor="let n of numSequence(10)"></div>
        </ng-container>
        <ng-container *ngIf="brands">
          <a type="button" class="tw-btn-class p-2.5 font-roboto" *ngFor="let brand of brands" 
          href="{{ brand.url }}">
          Occasions {{ brand.nom | titlecase }}
          </a>
        </ng-container>
      </ng-container>
    <ng-container *ngIf="screenMode ==1">
        <ng-container *ngIf="!brands">
          <div class="tw-btn-class bg-gray-200 h-8 space-y-8 animate-pulse p-2.5" 
          *ngFor="let n of numSequence(9)"></div>
        </ng-container>
        <ng-container *ngIf="brands">
          <a type="button" class="tw-btn-class p-2.5 font-roboto" *ngFor="let brand of brands | slice:0:9" 
          href="{{ brand.url }}">
          Occasions {{ brand.nom | titlecase }}
          </a>
        </ng-container>
      </ng-container>
    </div>
    <div class="flex justify-center my-[30px]">
      <div *ngIf="!brands" class="tw-btn-class w-56 bg-gray-200 h-9 space-y-8 animate-pulse"></div>
      <div class="text-center">
        <a href = "/occasion" *ngIf="brands" class="bg-custom-blue text-white font-bold py-[.75rem] px-4 rounded font-roboto">
          Voir toutes nos occasions
        </a>
      </div>
    </div>
</div>

