<div class="flex space-x-2">
    <a href="https://www.linkedin.com/company/elite-auto/">
        <img ngSrc="home/social-linkedin.webp" width="32" height="32" alt="linkedin">
    </a>

    <a href="https://www.facebook.com/EliteAuto.fr">
        <img ngSrc="home/social-fb.webp" width="32" height="32" alt="facebook">
    </a>
    
    <a href="https://instagram.com/eliteauto_fr?igshid=MzRlODBiNWFlZA==">
        <img ngSrc="home/social-insta.webp" width="32" height="32" alt="instagram">
    </a>
</div>
