<div class="container">
    <h1 class="text-base md:text-2xl font-bold font-raleway text-[#515458] pt-9"> {{subHeader}} </h1>
</div>
<hr>
<div class="container">
    <p class="text-justify">
        Elite-auto est un mandataire qui vend des voitures neuves à des tarifs discount.
        Le mandataire existe depuis 17 ans et vous permet d'<strong>acheter votre voiture neuve</strong> avec une
        remise jusqu'à 31%.
        Il négocie directement pour vous le tarif auprès de concessionnaire de la marque.
        Au final, vous achetez une voiture bien équipée au prix d'une <strong>auto discount</strong>, l'économie
        peut dépasser les 4.000 euros suivant le véhicule.
    </p>
    <p class="text-justify">
        Vous confiez votre commande au mandataire, et celui-ci s'occupe de toutes les formalités.
        Vous récupérez votre voiture neuve quelques semaines plus tard directement dans une concession de la marque,
        dans un centre livreur agréé ou dans les locaux d'Elite-Auto.
    </p>
    <p class="text-justify">
        Le mandataire propose un large choix de voiture neuve à prix discount : 33 grandes marques sont disponibles
        et pas moins de 9000 modèles différents.
        Vous avez le choix d'acheter une auto en stock ou sur commande, le délai de livraison est généralement de 15
        jours pour une automobile en stock.
    </p>
    <p class="text-justify">
        Votre automobile discount est neuve et garantie par le constructeur de la marque pour une durée de 2 ans ou
        plus.
        Les autos sont strictement identiques à celles vendues en concession et proviennent à 99% du réseaux
        français.
        Depuis 15 ans, Elite-Auto vous propose d'acheter une auto discount dans toute la France.
    </p>
    <hr>
    <div class="flex flex-col lg:flex-row txt-position">
        <div class="w-full lg:w-1/6">
            <img width="150" height="150" src="https://www.elite-auto.fr/images/sour.png">
        </div>
        <div class="w-full lg:w-5/6">
            <p class="text-3xl text-[#6f6f6f]">
                <b class="text-[#0089b3]">Elite Auto</b> vous rembourse votre voiture si vous n’êtes pas satisfait
                par celle-ci dans un délai de <b class="text-[#0089b3]">14 jours et 1100 km</b>.
                <br>
                <span class="text-sm">* Voir conditions</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-24 gap-y-4 text-center mb-4">
            <a href="/grand-prix-des-concessionnaires">
                <img class="w-48" alt="elite auto Trophée Or" src="https://www.elite-auto.fr/img/home/sliders/img_gp.jpg">
            </a>
            <img class="w-48" alt="elite auto meilleure enseigne"
                src="https://image.elite-auto.fr/bandeaux/capitale_2024.png">
            <img class="w-48" src="https://image.elite-auto.fr/pictos/widget21-13729.png" alt="4 stars">
            <img class="w-48" src="https://www.elite-auto.fr/images/sour_vn.png" alt="mandataire auto de confiance">
        </div>
    </div>  
</div>