
<h2 class="text-[20px] font-bold mt-[0.5rem]" *ngIf="!showPlaceholder">
    Top 10 de nos marques en leasing
</h2>
<div class="grid grid-cols-2 grid-rows-5 gap-x-4 gap-y-[6px] sm:grid-cols-5 sm:grid-rows-2 sm:gap-x-4 md:gap-x-[0.25rem] lg:gap-x-6 sm:gap-y-3 mt-3 ">
    <ng-container *ngIf="screenMode !=1">
        <ng-container *ngIf="!brands">
            <div class="tw-btn-class bg-gray-200 h-8 space-y-8 animate-pulse p-2.5" *ngFor="let n of numSequence(10)">
            </div>
        </ng-container>
        <ng-container *ngIf="brands">
            <a *ngFor="let brand of brands" type="button" class="text-custom-blue btn-class decoration-none tw-btn-outline-info"
                href="{{brand.url}}">
                {{ brand.name | titlecase }}
            </a>
        </ng-container>
    </ng-container>
    <ng-container class="display-contents" *ngIf="screenMode ==1">
        <ng-container *ngIf="!brands">
            <div class="tw-btn-class bg-gray-200 h-8 space-y-8 animate-pulse p-2.5" *ngFor="let n of numSequence(9)">
            </div>
        </ng-container>
        <ng-container *ngIf="brands">
            <a *ngFor="let brand of brands" type="button" class="text-custom-blue btn-class decoration-none tw-btn-outline-info"
                href="{{brand.url}}">
                {{ brand.name | titlecase }}
            </a>
        </ng-container>
    </ng-container>
</div>
<div class="flex justify-center my-[20px]">
    <div *ngIf="!brands" class="tw-btn-class w-56 bg-gray-200 h-9 space-y-8 animate-pulse"></div>
    <div class="text-center">
        <a *ngIf="brands" class="bg-custom-blue text-white font-bold py-[.75rem] px-[24px] rounded-[5px] font-roboto"
            href="{{ nosmarques_url }}">Voir toutes les marques</a>
    </div>
</div>